@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  /* sugar */
  --background: 0 0% 100%;
  --foreground: 0 0% 10%;
  --primary: 24 100% 50%;
  --primary-foreground: 0 0% 100%;
  --border: 0 0% 90%;
  --muted: 0 0% 96%;
  /* sugar */
}

/* sugar */
.dark {
  --background: 220 20% 10%;
  /* Deep Charcoal / Near Black */
  --foreground: 0 0% 98%;
  --primary: 24 100% 50%;
  /* #FF6600 */
  --primary-foreground: 0 0% 100%;
  --border: 220 20% 20%;
  --muted: 220 20% 15%;
}

/* sugar */

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}